
body {
    font-family: Bitstream Vera Sans, Arial, sans-serif;
}

body {
    background: #eee;
    margin: 10px;
}

body.fs {
    background: #00f;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 14pt;
    font-weight: bold;
}

h2 {
    font-size: 14pt;
    font-weight: normal;
}

h3 {
    font-size: 11pt;
    font-weight: bold;
}


.trace {
    font-family: monospace;
    font-size: 80%;
    background: #eef;
    color: #333;

    position: absolute;
    left: 340px;
    height: 240px;
    overflow: auto;
    
    padding-left: 5px;
    padding-right: 5px;
    
    cursor: default;
}

h2.runtime {
    width: 310px;
    margin: 0px;
    background: #ddd;
    margin-top: 1em;
    padding: 5px;
    font-size: 9px;
    font-weight: bold;
}

#swfEmbed {
    margin: 0px;
}


table {
    margin-top: 1em;
}
th {
    text-align: left;
    background: #fff;
    padding: 5px;
}
